#description {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-gap: 0.5rem;
}

#poster {
    text-align: center;
    max-width: 75%;
}

#title {
    text-align: left;
}

#title_attribute {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-gap: 0.5rem;
}

#attribute {
    display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 5fr 5fr 5fr 5fr 5fr 5fr 5fr 70fr;
    grid-gap: 0.5rem;
}

#overview {
    display: block;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
}

#prev {
    position: fixed;
    top: 50%;
    left: 0; /* Adjust the left position to 0 */
    transform: translateY(-50%);
    background-color: rgb(29, 37, 51);
    color: white;
    padding: 20px;
    outline: none;
    box-shadow: 0 0 0 0;
}

#next {
    position: fixed;
    top: 50%;
    right: 0; /* Adjust the left position to 0 */
    transform: translateY(-50%);
    background-color: rgb(29, 37, 51);
    color: white;
    padding: 20px;
    outline: none;
    box-shadow: 0 0 0 0;
}

#back {
    display: block;
    text-align: center;
    size: 20rem;
    margin-bottom: 10px;
    font-size: xx-large;

    color: red;
}
