#display_header {
    background-color: rgb(20, 23, 38);
    display: grid;
    grid-template-columns: 0.5fr 10fr 2fr 2fr 4fr;
    grid-gap: 0.5rem;
    position: fixed;
    top: 135px;
    width: 100%;

    padding-top: 10px;
    padding-bottom: 10px;

    font-weight: bold;
    color: antiquewhite;
}

.grid-item:nth-child(1) {
    grid-column: 1/2;
}

.grid-item:nth-child(2) {
    grid-column: 2/3;
}

.grid-item:nth-child(3) {
    grid-column: 3/4;
}
