#bar-container {
    position: fixed;
    display: block;
    width: 100%;
    height: 110px;
    top: 0;
    background-color: rgb(20, 23, 38);
}

#bar {
    display: grid;
    grid-template-columns: 5fr 8fr;
    background-color: rgb(29, 37, 51);
    /* width: 500px; */
    width: 350px;
    padding: 10px;
    padding-bottom: 20px;
    
    position: fixed;
    left: 55px;
    top: 30px;
}

#title {
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
}

#search-col{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 0.5rem
}

#views {
    display: grid;
    grid-template-columns: 25% 15% 53%;
    grid-gap: 0.5rem
}

#filter {
    margin-left: 68px;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    z-index: 100;
}

.modal-content {
    background-color: rgb(29, 37, 51);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}



#search {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 0.5rem;
}

#sort_region {
    display: grid;
    margin-left: 0.5rem;
    grid-template-rows: 50% 50%;
    grid-gap: 0.5rem
}

#sort {
    grid-row: 2;
}

#controller_container {
    display: block;
    position: fixed;

    left: 0;
    top: 110px;
    width: 100%;
    background-color: rgb(20, 23, 38);
}

#page_controller {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr 3fr 4fr 6fr 4fr 25fr;
    grid-gap: 0.5rem;

}

#page_input {
    width: 97px;
}

#page_num {
    display: inline;
    text-align: center;
    font-weight: bold;
    color: antiquewhite;
}

#sort_bar {
    display: block;
    position: relative;

    left: 75%;
    top: -23px;
}

#order_button {
    margin-left: 10px;
}
